<div class="page-header text-center">
		<img class="pokeball" src="./img/pokeball.svg">
		<h1> Pokémons </h1>
</div>

{{#each pokemons}}
	<div class="col-sm-4">
		<div class="well text-center">
			<h3 class="text-center poke-name">{{this.name}} #{{padNumber this.id 3 '0'}}</h3>
			<a data-toggle="tooltip" title="Click me!" onclick="$('#cry-{{this.id }}')[0].play();">
				<img class="poke-img" src="./img/pokemon/{{this.id }}.png">
			</a>
			<audio id="cry-{{this.id }}" ><source src="./media/sound/cries/{{this.id }}.ogg" type="audio/ogg"></audio>
			<div class="row">
				<div class="col-sm-12">
					<h4>Type(s)</h4>
					<p>
						{{#each this.types}}
							<span class="badge {{this}}">{{this}}</span>
						{{/each}}
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<h4>Capture rate (0-255)</h4>
					<p><span>{{this.capture_rate}}</span></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<h4>Height</h4>
					<p>{{divide this.height 10}} m</p>
				</div>
				<div class="col-sm-6">
					<h4>Weight</h4>
					<p>{{divide this.weight 10}} kg</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<p><span>{{this.flavour_text}}</span></p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<h4>Stats</h4>
					<div class="col-sm-6">
						<h4>HP:</p>
						<h4>Attack:</h4>
						<h4>Defense:</h4>
						<h4>Sp.Atk:</h4>
						<h4>Sp.Def:</h4>
						<h4>Speed:</h4>
					</div>
					<div class="col-sm-6">
						<p>{{this.stats.hp}}</p>
						<p>{{this.stats.attack}}</p>
						<p>{{this.stats.defense}}</p>
						<p>{{this.stats.special-attack}}</p>
						<p>{{this.stats.special-defense}}</p>
						<p>{{this.stats.speed}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/each}}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>







